*{
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    padding: 22px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 32px;
    display: inline-block;
}


header ul {
    display: flex;
    list-style: none;
}

header nav li a {
    padding-top: 11px;
    font-size: 15px;
    color: #1B1A1A;
    display: inline-block;
    text-decoration: none;
}

header ul li {
    margin-left: 32px;
    transition: 0.7s;
}

header ul li:hover {
    transform: rotate(360deg);
}

header ul li a:focus {
    background-color: green;
}

header ul li:hover a {
    color: red;
}

header ul li:last-of-type {
    margin-left: 31px;
}

header ul li:nth-child(5) {
    margin: 0px 31px 0px 0px;
}

header ul li:last-of-type a {
    padding: 11px 20px 11px 20px;
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #1B1A1A;
    border-radius: 14px;
    display: inline-block;
}

.section {
        background-color: #ECE7E4;
        box-sizing: border-box;
        padding-top: 137px;
        padding-bottom: 128px;
        background-image: url('../images/bg_banner.jpg');
        background-position: right;
        background-repeat: no-repeat;
}

.container_1 {
    max-width: 1240px;
    margin: auto;
}

.container_2 {
    max-width: 509px;
}

.header {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55; margin-bottom: 20px;
}

.title {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A; margin-bottom: 18px;
}

.text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B; margin-bottom: 41px;
}

.text_2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
}

.more {
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: #1B1A1A;
    margin-left: 25px;
}

.section_1 {
    background-color: #CEC4BC;
}

.container_3 {
    max-width: 1168px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.container_4 {
    max-width: 569px;
    padding-top: 113px;
    padding-bottom: 117px;
}

.link {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
    padding-top: 145px;
    padding-bottom: 145px;
}

.container_5 {
    max-width: 1168px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.container_6 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.text_3 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
}

.list_1 {
    display: flex;
    list-style: none;
    padding-top: 120px;
    padding-bottom: 60px;
}

.item_2 {
    margin-left: 20px;
}

.item_3 {
    margin-left: 26.38px;
}

footer {
    background-color: #F7F7F7;
}
